<div class="col-md-12">
  <div id="login_image"></div>
  <div class="row">
    <%= render 'form', :user => @user %>
  </div>
  <div id="signupnote" class="row">
    <p>You have already an account?&nbsp;<%= link_to "Sign in", nimbos.login_path%></p>
  </div>
</div>