<div class="row">
	<%= render "left_sidebar" %>
	<%= render "subnav" %>
	<section class="col-md-8 col-sm-12 col-md-offset-5">
		<div class="home-page-home animated fadeIn ">
		  <%= render "feeder/feeds/list", feeds: @feeds %>
		  <%= link_to "send my feeds", feeder.feeds_path(sendmail: "yes") %>
		</div>
	</section>
</div>

<!-- <div class="row">
	<div class="col-md-3">
		<%#= render "home/left_sidebar" %>
	</div>
	<div class="col-md-7">
		<%#= render "feeder/feeds/list", feeds: @feeds %>
	</div>
	<div class="col-md-2">
		<%#= render "home/sidebar" %>
	</div>
</div> -->
