<div class="row">
	<div class="col-md-3">
		<%#= render "home/left_sidebar" %>
	</div>
	<div class="col-md-7">
		<%= render "feeder/feeds/list", feeds: @feeds %>
	</div>
	<div class="col-md-2">
		<%= render "home/sidebar" %>
	</div>
</div>
<%#= link_to "send my feeds", feeder.feeds_path(sendmail: "yes") %>